.cardlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.card {
  margin-bottom: 0.5em;
  width: 30%;
}

.card-info {
  line-height: 1.3em;
}

.card-figure,
.card-img {
  width: 100%;
}
